.nupkg
*.suo
*.user
*.vspscc
*.dbmdl
*.tlb
*.pdb
*.dll
*.old
UpgradeLog*
.vs/
.vscode/
ws/
dist/
binaries/
Binaries/
bin/
Bin/
obj/
Obj/
debug/
Debug/
Publish/
packages-dist/
artifacts/
TestResults/**/*
